@import "variables";

.new_post {
  width: 75%;
  margin: 0 auto;
  textarea {
    width: 100%;
    resize: none;
  }
}

.posts_wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.post_wrapper {
  margin-top: 30px;
  background: #fff;
  padding: 1rem;
  // box-shadow: 0 10px 25px #ddd;
  border-radius: 0.8rem;
}
.post_body {
  white-space: pre-wrap;
  background: #fff;
}
